# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [63]:
import pandas as pd
import numpy as np

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [123]:
Students_info = pd.read_csv('Data/Students_info_0.csv')
for i in range(0, 10):
    Students_info_tmp = pd.read_csv('Data/Students_info_'+str(i)+'.csv')
    Students_info = pd.concat([Students_info, Students_info_tmp])
    
Students_marks = pd.read_csv('Data/Students_marks_0.csv')
for i in range(0, 10):
    Students_marks_tmp = pd.read_csv('Data/Students_marks_'+str(i)+'.csv')
    Students_marks = pd.concat([Students_marks, Students_marks_tmp])
    
df = pd.merge(Students_info, Students_marks, on='index', how='left')
df

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
2,1,female,group C,some college,standard,completed,group1,69,90,88
3,1,female,group C,some college,standard,completed,group1,69,90,88
4,2,female,group B,master's degree,standard,none,group1,90,95,93
...,...,...,...,...,...,...,...,...,...,...
1295,995,female,group E,master's degree,standard,completed,group10,88,99,95
1296,996,male,group C,high school,free/reduced,none,group10,62,55,55
1297,997,female,group C,high school,free/reduced,completed,group10,59,71,65
1298,998,female,group D,some college,standard,completed,group10,68,78,77
1299,999,female,group D,some college,free/reduced,none,group10,77,86,86

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [124]:
df = df.drop(columns=['index'])
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group B,bachelor's degree,standard,none,group1,72,72,74
2,female,group C,some college,standard,completed,group1,69,90,88
3,female,group C,some college,standard,completed,group1,69,90,88
4,female,group B,master's degree,standard,none,group1,90,95,93
5,female,group B,master's degree,standard,none,group1,90,95,93
6,male,group A,associate's degree,free/reduced,none,group1,47,57,44
7,male,group A,associate's degree,free/reduced,none,group1,47,57,44
8,male,group C,some college,standard,none,group1,76,78,75
9,male,group C,some college,standard,none,group1,76,78,75

#### Задание 3. Выведите на экран размеры полученной таблицы

In [125]:
df.shape

(1300, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [126]:
df.describe()

        math score  reading score  writing score
count  1300.000000    1300.000000    1300.000000
mean     64.829231      68.105385      66.947692
std      15.510460      15.003991      15.654282
min       0.000000      17.000000      10.000000
25%      55.000000      58.000000      56.000000
50%      65.000000      69.000000      68.000000
75%      75.000000      79.000000      78.000000
max     100.000000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [127]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [128]:
df[['math score', 'reading score', 'writing score']].mean()

math score       64.829231
reading score    68.105385
writing score    66.947692
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [129]:
df.groupby(by='test preparation course').mean()

                         math score  reading score  writing score
test preparation course
completed                 69.280182      73.380410      73.972665
none                      62.559814      65.415796      63.365854

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [130]:
df['lunch'].unique()
df['lunch'].value_counts()

standard        828
free/reduced    472
Name: lunch, dtype: int64

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [131]:
df = df.rename(columns = {'parental level of education':'education', 'test preparation course':'test preparation'})
df

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group B,bachelor's degree,standard,none,group1,72,72,74
2,female,group C,some college,standard,completed,group1,69,90,88
3,female,group C,some college,standard,completed,group1,69,90,88
4,female,group B,master's degree,standard,none,group1,90,95,93
...,...,...,...,...,...,...,...,...,...
1295,female,group E,master's degree,standard,completed,group10,88,99,95
1296,male,group C,high school,free/reduced,none,group10,62,55,55
1297,female,group C,high school,free/reduced,completed,group10,59,71,65
1298,female,group D,some college,standard,completed,group10,68,78,77
1299,female,group D,some college,free/reduced,none,group10,77,86,86

**Зафиксируем минимальный балл для сдачи экзамена**

In [132]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [133]:
print('доля студентов сдала экзамен по математике:')
print(df.loc[df['math score']>=passmark, 'math score'].count()/df['math score'].count())
print('доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике:')
print(df.loc[(df['test preparation'] == 'completed') & (df['math score']>=passmark), 'math score'].count()/df.loc[(df['test preparation'] == 'completed'), 'test preparation'].count())
print('доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике:')
print(df.loc[(df['test preparation'] == 'none') & (df['gender'] == 'female') &(df['math score']<passmark), 'math score'].count()/df.loc[(df['test preparation'] == 'completed') & (df['gender'] == 'female'), 'test preparation'].count())

доля студентов сдала экзамен по математике:
0.8453846153846154
доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике:
0.9225512528473804
доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике:
0.41935483870967744

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [134]:
%%time
df.groupby('race/ethnicity')['reading score'].mean()

Wall time: 2 ms

race/ethnicity
group A    63.581967
group B    66.359375
group C    68.339853
group D    68.813056
group E    71.880682
Name: reading score, dtype: float64

In [135]:
%%time
df.groupby('education')['writing score'].min()

Wall time: 2.84 ms

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [136]:
%%time
list_of_race = df['race/ethnicity'].unique()
list_of_mean = {}
for j in range(len(list_of_race)):
    count = 0
    number = 0
    for i in range(len(df)):
        if df['race/ethnicity'][i] == list_of_race[j]:
            count += df['reading score'][i]
            number += 1
    list_of_mean[list_of_race[j]] = count/number
list_of_mean

Wall time: 149 ms

{'group B': 66.359375,
 'group C': 68.3398533007335,
 'group A': 63.58196721311475,
 'group D': 68.81305637982196,
 'group E': 71.88068181818181}

In [137]:
%%time
list_of_education = df['education'].unique()
list_of_min = {}
for j in range(len(list_of_education)):
    minimal = df['writing score'][0]
    for i in range(len(df)):
        if df['education'][i] == list_of_education[j]:
            if df['writing score'][i] <= minimal:
                minimal = df['writing score'][i]
    list_of_min[list_of_education[j]] = minimal
list_of_min

Wall time: 130 ms

{"bachelor's degree": 38,
 'some college': 19,
 "master's degree": 46,
 "associate's degree": 35,
 'high school': 15,
 'some high school': 10}

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [138]:
grouped = pd.pivot_table(df,index=['gender','education'], aggfunc={'math score':np.mean,'reading score':np.mean, 'writing score':np.mean})
grouped

                           math score  reading score  writing score
gender education
female associate's degree   63.708075      72.745342      72.341615
       bachelor's degree    68.173333      76.120000      77.240000
       high school          58.349057      67.641509      65.990566
       master's degree      65.764706      75.274510      75.921569
       some college         65.955414      74.235669      74.630573
       some high school     57.677966      67.610169      66.593220
male   associate's degree   67.397351      65.000000      62.741722
       bachelor's degree    71.578125      68.968750      69.062500
       high school          64.704545      62.303030      59.416667
       master's degree      71.655172      70.000000      69.793103
       some college         66.619048      63.156463      61.557823
       some high school     64.568807      61.532110      58.165138

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [139]:
df['Math_PassStatus'] = np.where(df['math score'] >= passmark, 'P', 'F')
df.groupby('Math_PassStatus')['Math_PassStatus'].count()

Math_PassStatus
F     201
P    1099
Name: Math_PassStatus, dtype: int64

In [140]:
df['Reading_PassStatus'] = np.where(df['reading score'] >= passmark, 'P', 'F')
df.groupby('Reading_PassStatus')['Reading_PassStatus'].count()

Reading_PassStatus
F     144
P    1156
Name: Reading_PassStatus, dtype: int64

In [141]:
df['Writing_PassStatus'] = np.where(df['writing score'] >= passmark, 'P', 'F')
df.groupby('Writing_PassStatus')['Writing_PassStatus'].count()

Writing_PassStatus
F     174
P    1126
Name: Writing_PassStatus, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [142]:
df['OverAll_PassStatus'] = np.where((df['Writing_PassStatus'] == 'P') & (df['Reading_PassStatus'] == 'P') & (df['Math_PassStatus'] == 'P'), 'P', 'F')
df.loc[df['OverAll_PassStatus'] == 'P', 'OverAll_PassStatus'].count()

1034

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [143]:
def GetGrade(average_mark):
    if average_mark >= 90:
        return 'A'
    elif average_mark >= 80:
        return 'B'
    elif average_mark >= 70:
        return 'C'
    elif average_mark >= 60:
        return 'D'
    elif average_mark >= 50:
        return 'E'
    else:
        return 'F'

df['Grade'] = (df['math score']+df['reading score'] + df['writing score'])/3
df['Grade'] = df['Grade'].apply(GetGrade)
df

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P,C
1,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P,C
2,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P,B
3,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P,B
4,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1295,female,group E,master's degree,standard,completed,group10,88,99,95,P,P,P,P,A
1296,male,group C,high school,free/reduced,none,group10,62,55,55,P,P,P,P,E
1297,female,group C,high school,free/reduced,completed,group10,59,71,65,P,P,P,P,D
1298,female,group D,some college,standard,completed,group10,68,78,77,P,P,P,P,C
1299,female,group D,some college,free/reduced,none,group10,77,86,86,P,P,P,P,B

In [144]:
df.groupby('Grade')['Grade'].count()

Grade
A     58
B    185
C    327
D    322
E    242
F    166
Name: Grade, dtype: int64